:root {
  --color-primary-accent: #5b34da;
  --color-primary: #000;
  --color-background: rgb(255, 255, 255, 1);
  --color-secondary: rgb(194, 194, 194);
  --color-tertiary: rgb(247, 247, 247, 0.97);
  --color-pink: rgb(255, 170, 183);
  --color-header-background: rgb(247, 247, 247, 1);
}
[data-theme='dark'] {
  --color-primary-accent: #9d86e9;
  --color-primary: rgb(255, 255, 255);
  --color-background: rgb(0, 0, 0, 1);
  --color-secondary: rgb(255, 255, 255);
  --color-tertiary: rgb(24, 24, 24, 0.97);
  --color-pink: pink;
  --color-header-background: rgb(0, 0, 0, 1);
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
